@tailwind base;
@tailwind components;
@tailwind utilities;


@-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  /* Add the fadeInUp animation to the desired elements */
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }


  /* In your global CSS or Tailwind CSS file */
.swiper-pagination-bullet {
  background-color: rgb(213, 238, 213) !important; /* Make dots red */
  width: 12px; /* Adjust size */
  height: 12px;
  opacity: 0.8; /* Adjust opacity */
  transition: transform 0.3s;
}

.swiper-pagination-bullet-active {
  transform: scale(1.2); /* Enlarge the active dot */
  background-color: green !important; /* Active dot color */
}
html {
  scroll-behavior: smooth;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #10b981 #d1d5db; /* Thumb and Track */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width for webkit-based browsers */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #10b981; /* Green */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #d1d5db; /* Light Gray */
}
